.nav {
  & .nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  & .nav__item {
    font-size: 1.1rem;
    font-weight: 600;
  }
  & .nav__link {
    color: #ded8d770;
    transition: all 0.3s ease;
  }
  & .nav__linkActive {
    color: var(--color);
  }
}
